body{
  background-color: #eee;
}
body h1{
  font-size: 18px;

}
#convert-button{
  margin-top: 40px;
}
.center{
  margin: 0 auto;
}
.textAlign{
  text-align: center;
}
.container h1{
  display: inline;
}
